<div class="contentDetail">
	 <div class="content_det_top">
       <div class="source">{{ content.numero.field_source }} aat</div>
       <div class="numero_title">{{ content.numero.title }}</div>
       <div class="page"><span></span></div>
     </div>
		 <h3 class="label_title">
			{{ label }}
		 </h3>
	 <div class="article_page">
	 	{{ content }}
	 </div>
	<a href="{{ url }}" class="buy_article" rel="bookmark">{{ content.link_label }}</a>
</div>