 <div class="cardsubscrire">
     <div class="card_content">
        <h4 class="card_title">	{{ label }} </h4>
        <p class="pera body">{{ body }}</p>
        <span class="price_item">{{  prix }}<span class="mad">{{' MAD'|t }}</span></span>
    </div>
    <div class="card-read-more">
        <a href="/abonneraunumero/{{node.id}}" class="addbtn">{{'chosir'|t }}</a>
    </div>
</div>



