<!--Palma (Header)  -->  
<main id="site">   
    <header class="header desktop">
      <div class="container">
         <div class="row align-items-center justify_content">
       
             {% if page.header %}
                 {{ page.header}}
             {% endif %} 
             
                   {% if page.primary_menu %}
                         {{ page.primary_menu  }}       
                   {% endif %}

              {% if page.header_right %}
                    {{page.header_right}}
              {% endif %}

        </div>
    </div>
</header>

 
    <div class="main_wrapper">
        <div class="main_container"> 
            {% if page.breadcrumb  %}
                <div class="container p-0 pl_2">
                  <div class="page_title_inner">
                    <div class="breadcrumb">
                      {{ page.breadcrumb }} 
                    </div>
                  </div>
                </div>
            {% endif %}  
      	</div>

        <div class="mon_compte_inside">
        <div class="mon_compte_wrapper">
             <div class="mon_compte_header">
                 <div class="mon_compte_title_page">
                 <h2 class="title_mon_compte">{{ 'Modifier vos informations '|t }} </h2> 
                  </div>
             </div>

              <div class="main_mon_compte_content">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="moncompte_conn pass">
                        {% if page.content %}
                          {{ page.content }}
                        {% endif %}
                      </div>
                    </div>
                    
                  </div>
                </div>   
            </div>
        </div>
     </div>
    </div>
<!--\Palma\(Newsletter\logo et reseau social\footer)-->
<footer class="footer">    
           {% if page.footer %}
                 {{ page.footer  }}       
           {% endif %}  
</footer>

</main>